

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
      

    }
    
  }
  @media (max-width: 768px){
    .mainlogo{
      visibility:hidden
    }

  }

  .div1{
    margin: 30px;
    text-align: center;
  }

  .middle{
    position: relative;

  }
  .bottom{
    position: relative;
    margin: 30px;
  }
  .fotter{
    margin: 0;
    background-color: chartreuse;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    padding: 0;
  }
  .upper{
    background-color: #082032;
    color: #5C7AEA;
    margin: 30px;
    border-radius: 10px;
  }
  .mainlogo{
    float: right;
    margin-right: 50px;
    border-radius: 60px;
    
    
    
    
  }
  
  .blocks{
    display: inline;
   
    
    

  }